<h2> Edit Post </h2>

<%= simple_form_for @post do |post_object| %>
  <%= post_object.input :title %>
  <%= post_object.input :body %>
  <%= p.submit %>
<% end %>
<hr />
<%= link_to "Post Page", post_path(@post) %>
