<% notice %>

<h1> All Posts </h1>
  <%= form_tag posts_path, :method => 'get' do %>
  <div class="col-xs-3">
    <div class='input-group'>
      <%= text_field_tag :term, params[:term], class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-default btn-md" %>
      </span>
    </div>
  </div>
  <% end %>
<br /><br /><br /><br /><br />

<div>
<% if @posts.count(:all) == 0 %>
  <p> No posts found. </p>
  <%= link_to "All Posts", posts_path %>
<% end %>

<% unless @posts.count(:all) == 0 %>
  <% @posts.each do |p| %>
    <div>
      <%= link_to p.title, post_path(p) %>
    </div>
    <hr />
  <% end %>
  <%= paginate @posts %>
<% end %>
</div>
