<h1> All Posts </h1>

<%= form_tag posts_path, :method => 'get' do %>
<p class='container'>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<% notice %>

<div class='container'>

<% if @posts.count(:all) == 0 %>
  <p> No posts found. </p>
  <%= link_to "All Posts", posts_path %>
<% end %>

<% unless @posts.count(:all) == 0 %>
  <% @posts.each do |p| %>
    <div>
      <%= link_to p.title, post_path(p) %>
    </div>
  <% end %>
</div>

<%= paginate @posts %>

<% end %>
