<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Index", home_path %>
|
<%= link_to "About Page", home_about_path, method: :get %>
|
<%= link_to "Blog Posts", posts_path %>
|
<%= link_to "New Blog Post", new_post_path %>

<hr />
<%= yield %>

</body>
</html>
